.show-card {
  background-color: #f9c784;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 80px;
}
