* {
  /* font-family: sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* prevents error in react router dom when using netlify */

@media (max-width: 600px) and (max-width: 799px) {
  .App {
    padding: 10px;
  }

  /* Add more styles as needed for mobile */
  #header-img img {
    width: 50%;
    margin-left: 10%;
    padding: 10px;
    height: auto;
  }

  .header-logo {
    width: 40%; /* Adjust this value as needed */
    margin-left: 25%;
    height: auto;
  }
}

/* moved from index.css */

/* Tablets */
@media (min-width: 800px) and (max-width: 1023px) {
  #navbar {
    font-size: 28px;
  }
  .header-logo {
    margin-left: 25px;
    width: 350px;
    height: auto;
  }
  #container {
    padding: 20px;
  }
}

/* Desktops added up to html,body{} 9/21 */
@media (min-width: 1024px) and (max-width: 1440px) {
  #navbar {
    font-size: 35px;
  }
  .nav-list {
    flex-direction: row;
    /* justify-content: flex-end; */
  }

  .header-logo {
    margin-left: 0;
    width: 750px;
    height: auto;
  }

  #music-page-main .spotify-player {
    width: 900px;
    margin-top: 100px;
  }
}
