@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font faces */
@font-face {
  font-family: "custom1";
  src: url("/assets/fonts/Boxing-Regular.otf");
}

@font-face {
  font-family: "custom2";
  src: url("/assets/fonts/Tanker-Regular.otf");
}

@keyframes slide-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
